@model IReadOnlyList<Octokit.Issue>
@{
    ViewData["Title"] = "All Issues";
}
<html>
    <body>
        <h1>Roslyn IDE Bug priority</h1>
        <table class="table table-striped table-bordered sorted_table">
            <thead>
                <tr>
                    <th>Issue</th>
                    <th>Title</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var i in Model)
            {
                <tr>
                    <td>
                        <a href="@i.HtmlUrl" target="top">@i.Number</a>
                    </td>
                    <td>
                        @i.Title
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </body>
</html>