@model IReadOnlyList<Octokit.Issue>
<html>
    <body>
        <h1>Roslyn IDE Bug priority</h1>
        <table>
            @foreach (var i in Model)
            {
                <tr>
                    <td>
                        @i.Number
                    </td>
                    <td>
                        @i.Title
                    </td>
                </tr>
            }
        </table>
    </body>
</html>